@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover {
    cursor:pointer;
}

.container {
    width: $widthSite;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px)
}

.top {
    overflow: hidden;
}

#check {
    position: absolute;
    left: -99999px;
    visibility: hidden;
}

#check:checked ~ .menu {
    right: -232px;
}

.header {
    position: relative;
    height: 75px;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    position: absolute;
    top: 75px;
    right: 0;
    width: 232px;
    background: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    box-sizing: border-box;
    transition: right .4s;
    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 17px;
        color: #222222;
        margin-bottom: 4px;
    }

    &__subheading {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #f16d7f;
        margin-bottom: 12px;
        margin-top: 20px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        text-decoration: none;
        &:hover {
            color: #f16d7f;
        }
    }

    &__ul {
        list-style-type: none;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
}



// Примеси
@mixin center() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

// Наследование:
%font-normal {
    font-family: sans-serif;
    font-weight: normal;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(241, 228, 230, 1);
    &__h1 {
        &_1 {
            display: none;
        }
    }

}

.offer {
    gap: 80px;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    padding-top: 70px;
    &__forPro {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &_table {
            position: relative;
            display: flex;
            width: 100%;
            height: 260px;
            &_4 {
                grid-area: 2 / 1 / 2 / 4;
            }

            &_h1 {
                background: rgba(33, 22, 22, 0.7);
                width: 100%;
                height: 100%;
                justify-content: center;
                font-family: 'Lato';
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: center;
                color: rgba(255, 255, 255, 1);
                z-index: 2;
                display: flex;
                flex-direction: column;
                &_span {
                    font-family: 'Lato';
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28.8px;
                    text-align: center;
                    color: rgba(241, 109, 127, 1);

                }
            }
            &_img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;

        &_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            &_h1 {
                font-family: Lato;
                font-size: 30px;
                font-weight: 400;
                line-height: 36px;
                text-align: left;
                color: rgba(34, 34, 34, 1);
            }

            &_p {
                font-family: Lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                color: rgba(159, 159, 159, 1);
            }
        }

        &_carts {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            &_cart {
                display: flex;
                flex-direction: column;
                &_img {
                    height: 71%;
                }

                &_text {
                    background: rgba(248, 248, 248, 1);
                    padding: 24px 16px 24px 16px;
                    gap: 16px;
                    display: flex;
                    flex-direction: column;
                              
                    &_h1 {
                        font-family: 'Lato';
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 15.6px;
                        text-align: left;
                        color: rgba(0, 0, 0, 1);
                    }

                    &_p {
                        font-family: 'Lato';
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 16.8px;
                        text-align: left;
                        color: rgba(93, 93, 93, 1);
                    }

                    &_p1 {
                        font-family: 'Lato';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19.2px;
                        text-align: left;
                        color: rgba(241, 109, 127, 1);
                    }
                }
            }
        }

        &_button {
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            width: 18%;
            height: 48px;
            text-align: center;
            background: white;
            color: rgba(242, 99, 118, 1);
            border: 1px solid rgba(255, 106, 106, 1);
            &:hover {
                background: rgba(255, 106, 106, 1);
                border: 1px solid white;
                color: white;
            }
            
        }
    }
}

.breadcrump {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(248, 243, 244, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #f16d7f;
    }

    &__links {
        display: flex;
    }

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #636363;
        &:hover {
            color: $colorTextSelect;
        }
    }

    // Посл. тип элемента
    &__box:last-of-type .breadcrump__link {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #f16d7f;
        &:hover {
            color: #f3ced3;
        }
    }

    // вставка псевдоэлемент "/"
    // кроме последнего
    &__box:not(:last-child)::after {
        content: " /";
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #636363;
    }
}

.cart {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    &__heading {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $colorText;
    }

    &__input {
        width: 360px;
        height: 45px;
        border: 1px solid #4a4a4a;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        outline: none;
        &::placeholder {
            color: #B1B1B1;
        }
    }

    &__button {
        border: 1px solid #4a4a4a;
        padding: 12px 16px;
        font-weight: 300;
        font-style: normal;
        font-size: 11px;
        line-height: 13px;
        color: #4a4a4a;
        background-color: #fff;
        width: 110px;
        &:hover {
            color: white;
            background-color: #4a4a4a;
        }
    }

    &__result {
        height: 214px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background: rgba(245, 243, 243, 1);
        margin-top: 82px;

        &_links {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 83%;
            gap: 15px;
        }

        &_link {
            font-family: 'Lato';
            font-size: 11px;
            font-weight: 400;
            line-height: 13.2px;
            text-align: left;
            color: #575757;
            display: flex;
            gap: 20px;
            &:hover {
                border-bottom:2px solid #40c4c8;
            }
        }

        &_link-1 {
            font-family: 'Lato';
            font-size: 16px;
            font-weight: 300;
            line-height: 19.2px;
            text-align: left;
            color: #575757;
            display: flex;
            gap: 25px;
            margin: 0 5px 0 0;
            &_select {
                color: $colorTextSelect;
                font-weight: 700;
            }
            &:hover {
                border-bottom:2px solid #40c4c8;
            }
        }

        &_button {
            font-family: 'Lato';
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
            background:$colorTextSelect;
            width: 76%;
            height: 50px;
            text-align: center;
            &:hover {
                border:2px solid #40c4c8;
            }
        }
    }
}

.cart-item {
    width: 652px;
    display: flex;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorText;
        width: 262px;
        display: block;
        margin-bottom: 42px;
        &:hover {
            text-decoration: underline;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__close {
        position: absolute;
        top: 22px;
        right: 28px;
        &:hover path{
            fill: $colorTextSelect;
        }
    }

    &__content {
        width: 100%;
        background-color: #fff;
        padding: 22px 32px;
        box-sizing: border-box;
        position: relative;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        &_select {
            color: $colorTextSelect;
        }

        &_quantity {
            display: flex;
            gap: 32px;
        }
    }

    &__number {
        width: 44px;
        height: 25px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        border: 1px solid #eaeaea;
    }
}

.cart-button {
    display: flex;
    justify-content: space-between;
    height: 50px;
    &__but {
        width: 225px;
        border: 1px solid rgba(164, 164, 164, 1);
        background: rgba(255, 255, 255, 1);
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        color: rgba(164, 164, 164, 1);
        &:hover {
            background-color: $colorTextSelect;
            color: #eaeaea; 
        }

    }
}

.subscribe {
    position: relative;

    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(244, 244, 244, 0.7);
        position: relative;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__info {
        width: 360px;
        height: 225px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &_p {
            font-family: 'Lato';
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
    }

    &__mail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-right: 15px;
        &_h1 {
            font-family: 'Lato';
            font-size: 24px;
            font-weight: 700;
            line-height: 28.8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgba(34, 34, 36, 1);
            &_span1 {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
            }
        }

        &_textBut {
            position: relative;
            &_input {
                width: 323px;
                height: 49px;
                background: rgba(225, 225, 225, 1);
                font-family: 'Lato';
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: left;
                color: rgba(34, 34, 36, 1);
                padding-left: 20px;
                border-radius: 20px;
            }

            &_button {
                width: 100px;
                height: 49px;
                background: rgba(241, 109, 127, 1);
                font-family: 'Lato';
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-align: center;
                border-radius: 0  20px 20px 0;
                color: rgba(255, 255, 255, 1);
                position: absolute;
                right: -4px;

                &:hover {
                    background: #636363;
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 22px;
    padding-bottom: 20px;
    background: rgba(34, 34, 36, 1);
    &__text {
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        color: rgba(251, 251, 251, 1);
    }

    &__links {
        display: flex;
        gap: 10px;
        &_link {
            &:hover {
                opacity: 0.4;
                transition: 0.10s;
            }
            &_1 {
                background: rgba(241, 109, 127, 1);
                display: flex;
                align-items: center;
                width: 31.45px;
                height: 32px;
                justify-content: center;
            }
        }
    }

}

.registration {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 31%;
        &_h1 {
            font-family: 'Lato';
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            color: rgba(34, 34, 34, 1);
        }

        &_input {
            width: 360px;
            height: 45px;
            border: 1px solid rgba(164, 164, 164, 1);
            padding-left: 15px;
        }

        &_checks {
            display: flex;
            gap: 10px;
            &_check {
                display: flex;
                align-items: center;
                gap: 5px;
                position: relative;
                &_f1 {
                    width: 17px;
                    height: 17px;
                    border: 1px solid rgba(164, 164, 164, 1);
                    border-radius: 50%;

                    &::after {
                        background: blue;
                      }
                }

                &_reg {
                    position: absolute;
                    left: 99999px;
                    visibility: hidden;

                    &:checked ~ label {
                        background: blue;
                      }
                }

                &_p {
                    font-family: Lato;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 13.2px;
                    text-align: left;
                    color: rgba(0, 0, 0, 1);
                }
            }
        }

        &_p {
            font-family: 'Lato';
            font-size: 13px;
            font-weight: 400;
            line-height: 15.6px;
            text-align: left;
            color: rgba(177, 177, 177, 1);
        }

        &_button {
            width: 167px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 13px;
            font-family: 'Lato';
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: center;
            color: rgba(255, 255, 255, 1);
            background: rgba(241, 109, 127, 1);
            &:hover {
                opacity: 0.5;
                transition: 0.4;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 52%;
        &_h1 {
            font-family: 'Lato';
            font-size: 24px;
            font-weight: 400;
            line-height: 28.8px;
            text-align: left;
            color: rgba(0, 0, 0, 1);
        }

        &_percent {
            display: flex;
            flex-direction: column;
            gap: 6px;
            &_p {
                font-family: 'Lato';
                font-size: 24px;
                font-weight: 400;
                line-height: 28.8px;
                text-align: left;
                color: rgba(0, 0, 0, 1);
                display: flex;
                gap: 15px;
                align-items: center;

            }
        }
    }
}

.feature {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    padding-bottom: 70px;
    padding-top: 70px;
    background: rgba(34, 34, 36, 1);
    &__content {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        &_h1 {
            font-family: 'Lato';
            font-size: 19.96px;
            font-weight: 400;
            line-height: 23.95px;
            text-align: left;
            color: rgba(251, 251, 251, 1);
        }

        &_p {
            width: 83%;
            font-family: 'Lato';
            font-size: 13.97px;
            font-weight: 400;
            line-height: 16.77px;
            text-align: center;
            color: rgba(251, 251, 251, 1);
        }
    }
}

.sort {
    gap: 27px;
    display: flex;

    &__filter {
        &_summary {
            width: 360px;
            font-family: Lato;
            font-size: 14px;
            font-weight: 600;
            line-height: 16.8px;
            text-align: left;
            color: rgba(239, 91, 112, 1);

            &_box {
                width: 360px;
                position: absolute;
                left: -9px;
                top: 22px;
                background: #ffffff;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                padding: 7px 9px 11px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 6px;
                &_a1 {
                    padding: 10px;
                    font-family: 'Lato';
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 16.8px;
                    text-align: left;
                    color: rgba(111, 110, 110, 1);
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }
            }
        }
    }

    &__details {
        display: flex;
        gap: 35px;
    }
}

.details {
    position: relative;
    &__box {
        position: absolute;
        left: -9px;
        top: 22px;
        background: #ffffff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 9px 11px;
        box-sizing: border-box;
        width: 79px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

summary {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(111, 110, 110, 1);
    &:hover {
        cursor: pointer;
        color: $colorTextSelect;
    }

    &:active {
        color: #eaeaea;
        transition: 0.6s;
    }
}
  
summary::-webkit-details-marker {
    display: none;
}

.catalog {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    &__pagination {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-end;
        gap: 16px;
        &_h1 {
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 19.2px;
            text-align: left;
            display: flex;
            gap: 5px;
            color: rgba(239, 91, 112, 1);
            &_span {
                color: rgba(93, 93, 93, 1);
                ;
            }
        }

        &_left {
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }

        &_right {
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
    
}

.image-slide {
    background: rgba(247, 247, 247, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &_left-right {
        width: 47px;
        height: 47px;
        background: rgba(42, 42, 42, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
        &_left {
            padding-right: 9px;
        }

        &_right {
            padding-left: 5px;
        }
    }

}

.product {
    display: flex;
    flex-direction: column;
    gap: 128px;
    margin-top: -42px;
    padding-bottom: 70px;
    &__info {
        background: white;
        padding: 40px 0;
        border: 1px solid rgba(234, 234, 234, 1);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 60px;
        &_texts {
            display: flex;
            align-items: center;
            gap: 5px;
            flex-direction: column;
            &_h1 {
                font-family: 'Lato';
                font-weight: 300;
                line-height: 16.8px;
                text-align: left;
                font-size: 14px;
                color: rgba(241, 109, 127, 1);
                ;
            }

            &_h2 {
                font-family: 'Lato';
                font-weight: 300;
                line-height: 21.6px;
                text-align: left;
                font-size: 18px;
                color: rgba(77, 77, 77, 1);
            }
        }

        &_text-p {
            display: flex;
            flex-direction: column;
            width: 42%;
            gap: 24px;
            align-items: center;
            &_p {
                font-family: 'Lato';
                font-weight: 300;
                line-height: 16.8px;
                text-align: center;
                font-size: 14px;
                color: rgba(94, 94, 94, 1);
            }

            &_h1 {
                font-family: Lato;
                font-weight: 300;
                line-height: 28.8px;
                text-align: left;
                font-size: 24px;
                color: rgba(239, 91, 112, 1);
            }
        }

        &_sorts {
            display: flex;
            align-items: center;
            gap: 35px;
            flex-direction: column;
            &_button {
                border: 1px solid rgb(255, 106, 106);
                background: white;
                width: 70%;
                height: 49px;
                font-family: Lato;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                font-size: 16px;
                color: rgb(242, 99, 118);
                /* text-align: center; */
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                &:hover {
                    background: rgba(255, 106, 106);
                    color: white;
                }
            }
        }
    }
}













